.carrousel {
  position: relative;
  width: 100%;
  height: 415px;
  margin-top: 40px;
  margin-bottom: 40px;
  
  
  &__img {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	object-fit: cover;
  }
  
  &__counter {
	position: absolute;
	top: 90% !important;
	@include absoluteCentered;
	font-size: 2.4rem;
	color: $white;
	
  }
  
  &__arrow {
	font-size: 2rem;
	color: #FFFEFC;
	
	&--left {
	  position: absolute;
	  z-index: 2;
	  top: 90%;
	  left: 2%;
	  width: fit-content;
	  cursor: pointer;
	  transform: translateY(-50%);
	}
	
	&--right {
	  position: absolute;
	  z-index: 2;
	  top: 90%;
	  right: 2%;
	  width: fit-content;
	  cursor: pointer;
	  transform: translateY(-50%);
	}
  }
}

.arrow {

}



