html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: $black;
  background-color: $white;
}

#root {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

.btn {
  height: 4rem;
  margin: 0 2.4rem;
  padding: 0 1.6rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  
  &:hover {
	box-shadow: 1px 6px 9px -4px rgba(0, 0, 0, 0.63);
  }
}

.btn--black {
  color: $white;
  background-color: $black;
}
