@mixin rounded-bordered {
  padding: 0.4rem 1.2rem;
  border: 1px solid $black;
  border-radius: 24px;
}

@mixin flexRowInline {
  display: flex;
  align-items: center;
}

@mixin absoluteCentered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin hoverEffect {
  &:hover {
	transition: ease-in-out 0.3s;
	transform: translate(0.2rem, -0.2rem);
	box-shadow: 1px 6px 9px -4px rgba(0, 0, 0, 0.2);
  }
}
