.header {
  &__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 8.8rem;
	margin-top: 1rem;
	padding: 0 5.6rem;
	//border-bottom: 2px solid #EAE8E8;
	
	&--side {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}
  }
  
  &__profile-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 2.4rem;
  }
  
  &__notification {
	position: relative;
	display: flex;
	justify-content: center;
	width: 4rem;
	cursor: pointer;
  }
}

.notif {
  &-counter {
	position: absolute;
	top: -1rem;
	left: -0.4rem;
	font-size: 1.2rem;
	padding: 0.4rem 0.8rem;
	color: $white;
	border: 1px solid $white;
	border-radius: 24px;
	background-color: $red;
	
	&:hover {
	  transition: 300ms ease-in-out;
	  transform: scale(1.2);
	  box-shadow: 1px 6px 9px -4px rgba(0, 0, 0, 0.63);
	}
  }
}

.profile {
  &__btn {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 1rem;
  }
  
  &__pic-container {
	overflow: hidden;
	width: 5rem;
	height: 5rem;
	border-radius: 100px;
	
	> img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
  }
}

.roof {
  width: 60px;
  margin-bottom: -32px;
}
