.searchBar {
  display: flex;
  justify-content: start;
  align-items: center;
  
  &__icon {
	font-size: 2.4rem;
	height: fit-content;
	margin-left: 4rem;
	color: #848484;
  }
  
  &__input {
	width: 24rem;
	height: 4rem;
	padding-left: 1rem;
	
	border: none;
	background: transparent;
	
	&:focus {
	  outline: none;
	}
  }
}

