.header {
  &__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 6.4rem;
	padding: 0 5.6rem;
	background-color: $main-grey;
	
	&--side {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}
  }
  
  &__profile-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 2.4rem;
  }
  
  &__notification {
	position: relative;
	display: flex;
	justify-content: center;
	width: 4rem;
	cursor: pointer;
  }
}

.notif {
  &-icon {
	font-size: 2.4rem;
  }
  
  &-counter {
	position: absolute;
	top: -1rem;
	right: -0.6rem;
	font-size: 1.2rem;
	padding: 0.4rem 0.8rem;
	color: $white;
	border: 1px solid $white;
	border-radius: 24px;
	background-color: $red;
	
	&:hover {
	  box-shadow: 1px 6px 9px -4px rgba(0, 0, 0, 0.63);
	}
  }
}

.profile {
  &__btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 1rem;
  }
  
  &__pic-container {
	overflow: hidden;
	width: 4rem;
	height: 4rem;
	border-radius: 100px;
	
	&:hover {
	  border: 1px solid rgba(116, 121, 140, 0.11);
	}
	
	> img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
  }
}
