.lodgings {
  &__gallery {
	display: grid;
	overflow: scroll;
	max-height: 80vh;
	padding: 0.4rem 0.8rem 0 0;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 40px 40px;
	grid-template-areas:
    ". ."
    ". .";
	
  }
}

::-webkit-scrollbar {
  width: 0;
}
