.filters {
  &__container {
	@include flexRowInline;
	justify-content: space-between;
	height: 8.8rem;
	padding: 0 5.6rem;
	background-color: $white;
  }
  
  &__range-container {
	@include flexRowInline;
	justify-content: start;
	
	> p {
	  @include rounded-bordered;
	  margin-right: 1.2rem;
	  
	  > span {
		color: $font-grey;
	  }
	}
	
	> input {
	  cursor: pointer;
	}
	
	> label {
	  margin-left: 1.2rem;
	  @include rounded-bordered;
	  
	  > span {
		color: $font-grey;
	  }
	}
  }
  
  &__tags-container {
	@include flexRowInline;
	gap: 1.6rem;
	
	> p {
	  @include rounded-bordered;
	  padding: 0.8rem 1.6rem;
	  cursor: pointer;
	  border: none;
	  background: $main-grey;
	  @include hoverEffect;
	}
  }
}

.sort-btn {
  @include rounded-bordered;
  padding-left: 3.2rem;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  @include hoverEffect;
}
