@import "styles/reset";
@import "styles/variables";
@import "styles/breakPoints";
@import "styles/mixins";
@import "styles/common";
@import "components/Header/Header";
@import 'pages/Error/Error404';
@import 'pages/Home/Home';
@import 'pages/Lodging/Lodging';
@import "components/Logo/Logo";
@import "components/SearchBar/SearchBar";
@import "components/Filters/Filters";
@import "components/Gallery/Gallery";
@import "components/LodgingCard/LodgingCard";
@import "components/Map/MainMap";
